{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
        <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <title>Modern Login Page | AsmrProg</title>
</head>

<body>

    <div class="container" id="container">
        <div class="form-container sign-up">
            <form method="post" action="{% url 'login_signup' %}" id="signup-form">
           
                {% csrf_token %}
                <h1>Create Account</h1>
               
                <span>or use your email for registeration</span>
                <input type="text" placeholder="Name"  id="name" name="name" required>
                <input type="email" placeholder="Email" id="email_signup" name="email" required>
                <input type="password" placeholder="Password" id="pass_signup" name="password" required>
            <button type="submit" >Sign Up</button>
            </form>
        </div>
        <div class="form-container sign-in">
            <form method="post" action="{% url 'login_signup' %}" id="login-form">
                <h1>Sign In</h1>
               
                <span>or use your email password</span>
                <input type="email" placeholder="Email " id="email_login" name="email" required>
                <input type="password" placeholder="Password" id="pass_login" name="password" required>
            <button type="submit" >Sign In</button>
            </form>
        </div>
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <h1>Welcome Back!</h1>
                    <p>Enter your personal details to use all of site features</p>
                    <button class="hidden" id="login">Sign In</button>
                </div>
                <div class="toggle-panel toggle-right">
                    <h1>Hello, Friend!</h1>
                    <p>Register with your personal details to use all of site features</p>
                    <button class="hidden" id="register">Sign Up</button>
                </div>
            </div>
        </div>
    </div>
    <!-- <script>
        const socket = new WebSocket('ws://' + window.location.host + '/ws/auth/');

        function sendLoginData() {
            const email = document.getElementById('email_login').value;
            const password = document.getElementById('pass_login').value;

            socket.send(JSON.stringify({
                'type': 'login',
                'email': email,
                'password': password,
            }));
        }

                function sendsign_upData() {
                        const email = document.getElementById('email_signup').value;
                        const password = document.getElementById('pass_signup').value;
                        const name = document.getElementById('name').value;


                        socket.send(JSON.stringify({
                            'type': 'signup',
                            'email': email,
                            'password': password,
                            'name':name,
                        }));
                    }

        // Handle WebSocket messages if needed
        socket.onmessage = function (e) {
            const data = JSON.parse(e.data);
            alert(data.message);  // Display the message received from the server
        };
    </script> -->

        <script src="{% static 'js/script.js' %}"></script>

</body>

</html>