{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        body {
            background-image: url('/media/images/blob-scene-haikei (1).png');
            backdrop-filter: blur(8px);
    
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/login/login.css' %}" rel="stylesheet">
    <link href="{% static 'css/general/icons_google.css' %}" rel="stylesheet">
    
    <link href="{% static 'css/general/fonts/fontawesome.css' %}" rel="stylesheet">

    <title>Quiz Game</title>
</head>

<body>

    <div class="semi_cont container" id="container">


        <div class="form-container sign-in reset">
           
       
            <h3>Password reset complete</h3>
            
            <p>Your password has been set. You may go ahead and log in now</p>
             <button type="button" ><a href="{% url 'login_signup' %}" style="color: #fff; ">Back to Sign In</a></button>

                

        </div>
    </div>

    <script src="{% static 'js/script.js' %}"></script>

</body>
{% for message in messages %}
{% if message.tags == 'error' %}
<script type="text/javascript">
    const alertDiv = document.createElement('div');
    alertDiv.className = 'custom-alert alert-error';
    alertDiv.innerHTML = '<div class="icon__wrapper"><span class="material-symbols-outlined">error</span></div><p> {{ message|safe }}</p>';

    const body = document.getElementById('body');
    document.body.appendChild(alertDiv);
    setTimeout(function () {
        alertDiv.remove();
    }, 10000);
</script>
{% else %}
<script type="text/javascript">
    const alertDiv = document.createElement('div');
    alertDiv.className = 'custom-alert alert-success';
    alertDiv.innerHTML = '<div class="icon__wrapper"><span class="material-symbols-outlined">task_alt</span></div> <p>{{ message|safe }}</p>';
    document.body.appendChild(alertDiv);

    setTimeout(function () {
        alertDiv.remove();
    }, 3000);
</script>
{% endif %}
{% endfor %}

</html>