{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        body {
            background-image: url('/media/images/blob-scene-haikei (1).png');
            backdrop-filter: blur(8px);
    
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/login/login.css' %}" rel="stylesheet">
    <link href="{% static 'css/general/icons_google.css' %}" rel="stylesheet">
    
    <link href="{% static 'css/general/fonts/fontawesome.css' %}" rel="stylesheet">


    <title>Quiz Game</title>
</head>

<body>

    <div class="holder container" id="container">


        <div class="form-container sign-in reset">
           
       
            <h3> Password reset sent</h3>
            <p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.
</p>
                        <p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.
</p>

                <a href="{% url 'login_signup' %}">Back to Sign In</a>

        </div>
    </div>

    <script src="{% static 'js/script.js' %}"></script>

</body>
{% for message in messages %}
{% if message.tags == 'error' %}
<script type="text/javascript">
    const alertDiv = document.createElement('div');
    alertDiv.className = 'custom-alert alert-error';
    alertDiv.innerHTML = '<div class="icon__wrapper"><span class="material-symbols-outlined">error</span></div><p> {{ message|safe }}</p>';

    const body = document.getElementById('body');
    document.body.appendChild(alertDiv);
    setTimeout(function () {
        alertDiv.remove();
    }, 10000);
</script>
{% else %}
<script type="text/javascript">
    const alertDiv = document.createElement('div');
    alertDiv.className = 'custom-alert alert-success';
    alertDiv.innerHTML = '<div class="icon__wrapper"><span class="material-symbols-outlined">task_alt</span></div> <p>{{ message|safe }}</p>';
    document.body.appendChild(alertDiv);

    setTimeout(function () {
        alertDiv.remove();
    }, 3000);
</script>
{% endif %}
{% endfor %}

</html>